* {
  margin: 0;
  padding: 0;

  font-family: 'Poppins';
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #ffe5e5;
}

.panel {
  overflow: hidden;
  width: 80%;
  height: 80%;
  border-radius: 10px;
  background-color: #fff;
}

.ptop {
  padding: 0px 30%;
  align-items: center;
  display: flex;
  justify-content: space-between;
  color: #fff;
  width: 100%;
  height: 100px;
  background-color: #ff4747;
}

.elem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.box {
  color: #ff6565;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 5px;
  font-weight: 600;
  font-size: 22px;
}

.pbtm {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* background-color: black; */
  width: 100%;
  height: calc(100% - 100px);
  padding: 20px;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ff6565;
  color: #fff;
  border-radius: 50%;
  font-weight: 500;
}

.bubble:hover {
  cursor: pointer;
  background-color: #ff4747;
}

.elem h2 {
  font-weight: 500;
}

.loose {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ff0000d8;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 99;
  visibility: hidden;
  /* visibility: visible; */
}

.loose h1 {
  color: #ffe5e5;
  opacity: 100%;
  font-size: 70px;
}

.loose button{
    background-color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
}

